.brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 9vh;
  color: rgb(0, 0, 0) !important;
  text-shadow: 3px 3px 3px whitesmoke;
}

.logo {
  width: 15%;
  float: left;
  vertical-align: bottom;
}