// IMPORT OF ALL SCSS ACROSS APP:
// For Buttons
@import './components/ForButtons/DeleteBtn/deletebtn.scss';
@import './components/ForButtons/EditBtn/editbtn.scss';
@import './components/ForButtons/ModalPlayBtn/modalplaybtn.scss';
@import './components/ForButtons/TablePlayBtn/tableplaybtn.scss';
@import './components/ForButtons/UploadBtn/uploadbtn.scss';
// For Modals
@import './components/ForModals/1-AssocModal/assocmodal.scss';
@import './components/ForModals/2-ManagerModal/managermodal.scss';
@import './components/ForModals/3-DatabaseModal/databasemodal.scss';
// For Pages
@import './components/ForPages/About/about.scss';
@import './components/ForPages/Contact/contact.scss';
@import './components/ForPages/Footer/Footer.scss';
@import './components/ForPages/Header/Header.scss';
@import './components/ForPages/Home/home.scss';
// For Passport
@import './components/ForPassport/GoogleBtn/googlebtn.scss';
@import './components/ForPassport/LoginBox/loginbox.scss';
@import './components/ForPassport/LogoutBox/logoutbox.scss';
@import './components/ForPassport/SignUpBox/signupbox.scss';
// For Tables
// @import './components/ForTables/1-AssocTable/assoctable.scss';
@import './components/ForTables/2-ManagerTable/managertable.scss';
@import './components/ForTables/3-DatabaseTable/databasetable.scss';
// Actual Pages
@import './pages/audition/audition.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}