.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.editmodal {
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto; }

.aboutBox {
  width: 40vw;
  position: relative;
  margin-left: 10%; }

li, h3 {
  color: whitesmoke;
  text-shadow: 3px 3px 3px #131311; }

@media only screen and (max-width: 900px) {
  .aboutBox {
    width: 100%; } }
