// The gray background
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

// The modal "window"
.editmodal {
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
}

.aboutBox{
width:40vw;
// box-shadow: 5px 5px 5px red;
position: relative;
margin-top:2%;
margin-left:6%;
}

li , h3{
  color: #131311;
  text-shadow: 3px 4px 8px rgb(103, 103, 104); 

}

@media only screen and (max-width: 900px){
  .aboutBox{
width: 100%;
  }
}