.table-sm td, .table-sm th {
  font-size: .8rem;
  font-family: 'open sans' !important;
}

// create margin between table and header
.tableContainer {
  margin-top: 30px;
}

// round corners on table
.table {
  border-radius: 10px
}

// different color rows on table
.table tr:nth-child(even){background-color: #f1f1f1;}
.table tr:nth-child(odd){background-color: #f9f9f9;}

// hover effect on table
.table tr:hover{
  background-color: #ddd !important; 
}