.table-sm td, .table-sm th {
  font-size: .8rem;
  font-family: 'open sans' !important; }

.col-lg-1 {
  width: 5%; }

.tableContainer {
  margin-top: 30px; }

.tableDiv {
  padding: 0;
  align-content: center; }

.table {
  border-radius: 5px;
  padding: 0; }

.table tr:nth-child(even) {
  background-color: #f1f1f1; }

.table tr:nth-child(odd) {
  background-color: #f9f9f9; }

.table tr:hover {
  background-color: #ddd !important; }
