.custom-file-upload input[type="file"] {
  display: none; }

.custom-file-upload {
  all: unset; }

.custom-file-upload {
  flex: 1;
  margin-top: 3px;
  cursor: pointer;
  box-shadow: transparent;
  text-shadow: transparent; }
