.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.form-row {
  margin-bottom: .5em;
}

.fa-pencil-alt {
  font-size: 2vh;
}

@media only screen and (max-width: 600px) {
  .fa-pencil-alt {
    font-size: 3vh;
  }
}