#root, .homeCards {
  padding: 0;
  margin: 0;
  display: block; }

.card1, .card2, .card3, .card4 {
  width: 50%;
  height: 50vh;
  float: left;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-shadow: 0 3px 6px #999, 0 3px 6px #999;
  position: relative;
  font-family: "Permanent Marker", cursive;
  background-color: #777; }

.card2 {
  background-color: #3773f5; }

.card3 {
  background-color: #197474; }

.card4 {
  background-color: #1f2516; }

.cardTitle {
  position: relative;
  left: 0;
  top: 25% vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle; }

.cardTitle :hover {
  text-decoration: none;
  margin-bottom: 12px; }

h1 {
  font-size: 70px; }
