$shadow:  2px 3px 1px greenyellow;
$bigFont: 'Permanent Marker', cursive;

#root, .homeCards {
  padding: 0;
  margin: 0;
  display: block;
}

.card1 {
  width: 50%; 
  height: 50vh; 
  float: left; 
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  text-shadow: $shadow;
  position: relative;
  font-family: $bigFont;
  background: linear-gradient(to bottom right, #777, yellow);
}

.card2 {
  width: 50%; 
  height: 50vh; 
  float: left; 
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  text-shadow: $shadow;
  position: relative;
  font-family: $bigFont;
  background: linear-gradient(to bottom left, #777, yellow);
}

.card3 {
  width: 50%; 
  height: 50vh; 
  float: left; 
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  text-shadow: $shadow;
  position: relative;
  font-family: $bigFont;
  background: linear-gradient(to top right, #777, yellow);
}

.card4 {
  width: 50%; 
  height: 50vh; 
  float: left; 
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  text-shadow: $shadow;
  position: relative;
  font-family: $bigFont;
  background: linear-gradient(to top left, #777, yellow);
  // background: #444;
}

.cardTitle {
  position: relative;
  left: 0;
  top: 25% vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.cardTitle :hover {
  text-decoration: none;
  margin-bottom: 12px;
}

h1 {
  font-size: 70px;
}