.body {
  background-color: red; }

.nav_logo {
  width: 4%; }

.navbar_app_name {
  font-family: 'Markazi Text', serif;
  font-size: 60px;
  color: white; }

.nav-link {
  color: white; }

img.card {
  display: flex;
  justify-content: space-between;
  width: 20%; }
